.form-container {
  background: $color-dark-accent;
  padding: 2rem;
  border-radius: $border-radius;
  box-shadow: $box-shadow;

  textarea {
    margin-bottom: 2rem;
  }

  button {
    width: 20%;
  }
}

.input-container {
  display: flex;
  flex-direction: column;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
