.post-container {
  background: $color-dark-accent;
  color: $color-light;
  padding: 1rem;
  border: none;
  border-radius: 0.7rem;
  margin-bottom: 2rem;


  .title-date-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}