.button {
  text-decoration: none;
  border-radius: $border-radius;
  border: none;
  padding: 0.5rem 1rem;
  transition: box-shadow 200ms;
  font-weight: bolder;

  &:hover {
    box-shadow: $box-shadow;
  }
}

.btn-light {
  background-color: $color-light;
  color: $color-dark;
}

.icon-button {
  height: $l-size;
  width: $l-size;
  background-color: $color-main-accent;
  border-radius: $border-radius;
  margin: 0;
  &:hover {
    box-shadow: $box-shadow;
  }
}

.btn-main {
  background-color: $color-main-accent;
  color: $color-dark;
}
