.button {
  text-decoration: none;
  border-radius: 0.2rem;
  border: none;
  padding: 0.5rem 1rem;
  transition: box-shadow 200ms;
  font-weight: bolder;

  &:hover {
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.54);
  }
}

.btn-light {
  background-color: $color-light;
  color: $color-dark;
}

.btn-main {
  background-color: $color-main-accent;
  color: $color-dark;
}
