/* Dropdown Button */
.dropbtn {
  background-color: #3498db;
  color: white;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  background-color: #2980b9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  // display: flex;
  // flex-direction: row;
  height: $l-size;
  width: $l-size;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: transparent;
  min-width: 160px;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content img {
  display: inline-block;
  margin-right: $s-size;
}

/* Change color of dropdown links on hover */
.dropdown-content img:hover {
  background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}
