// Font size
$font-size-large: 1.8rem;
$font-size-medium: 1.6rem;
$font-size-small: 1.4rem;
// Icon size
$icon-size-small: 2.3rem;
// spacing
$s-size: 0.8rem;
$m-size: 1.2rem;
$l-size: 2.4rem;
$xl-size: 3.6rem;
$desktop-breakpoint: 45rem;
// LoadingIndicator color
$loader-main: rgb(93, 186, 240);
// colors
$color-dark: #3a5558;
$color-dark-accent: #686f85;
$color-main-accent: #86d2cf;
$color-light-accent: #818485;
$color-light: #f9f9f9;
// box shadow
$box-shadow: -2px 2px 13px 5px rgba(0, 0, 0, 0.22);
// border radius
$border-radius: 0.3rem;
